
<script src="assets/js/animation_code.js"></script>
<nav>
  <ul>
    <li><button class="code-options active" id="javascript">Javascript</button></li>
    <li><button class="code-options" id="java">Java</button></li>
    <li><button class="code-options" id="python">Python</button></li>
    <li><button class="code-options" id="c-sharp">C#</button></li>
  </ul>
</nav>
<div class="content-code">
  
    <div class="line-code">
        <p id="line-number-1">1</p>
        <p id="line-number-2">2</p>
        <p id="line-number-3">3</p>
        <p id="line-number-4">4</p>
        
    </div>
    <div class="code">
      <p class="line" id="line1"><span class="color1" id="function"></span><span class="color2" id="function_name"></span><span class="color3">()</span><span class="color1" id="start-block">{}</span></p>
      <p class="line" id="line2"></p>
      <p class="line" id="line3"><span class="color1">}</span></p>
    </div>
</div>
