<script src="assets/js/languages.js"></script>
    <div class="content-technologies content-right" id="backend">
        <header><p>Back End y servicios</p></header>
        <div class="technologies">
            <div>
                <img src="assets/img/php.svg" alt="" id="technologies_php">
                <img src="assets/img/nodejs.png" alt="" id="technologies_nodejs">
                <img src="assets/img/java2.svg" alt="" id="technologies_java">
            </div>
            <div>
                <img src="assets/img/net.png" alt="" id="technologies_net">
                <img src="assets/img/jwt.svg" alt="" id="technologies_jwt">
                <img src="assets/img/stripe.svg" alt="" id="technologies_stripe">
            </div>
        </div>
    </div>
    <div class="content-technologies content-left" id="frontend">
        <header><p>Front End</p></header>
        <div class="technologies">
            <div>
                <img src="assets/img/angular.png" alt="" id="technologies_angular">
                <img src="assets/img/typescript.svg" alt="" id="technologies_typescript">
                <img src="assets/img/javascript.svg" alt="" id="technologies_javascript">
            </div>
            <div>
                <img src="assets/img/html.svg" alt="" id="technologies_html">
                <img src="assets/img/css.svg" alt="" id="technologies_css">
                <img src="assets/img/sass.svg" alt="" id="technologies_sass">
         
            </div>
        </div>
    </div>
    <div class="content-technologies content-right" id="database">
        <header><p>Bases de datos</p>
           </header>
           
        <div class="technologies">
            <div>
                <img src="assets/img/sqlserver.jpg" alt="" id="technologies_sqlserver">
                <img src="assets/img/mysql.png" alt="" id="technologies_mysql">
                <img src="assets/img/sqlite.svg" alt="" id="technologies_sqlite">
            </div>
        </div>
    </div>
    <div class="content-technologies content-left" id="native">
        <header><p>Aplicaciones moviles y de escritorio</p></header>
        <div class="technologies">
            <div>
                <img src="assets/img/ionic.svg" alt="" id="technologies_ionic">
                <img src="assets/img/android.png" alt="" id="technologies_android">
                <img src="assets/img/netcore.svg" alt="" id="technologies_netcore">
            </div>
        </div>
    </div>