<script src="assets/js/proyects.js"></script>
<div class="content-videos">
<div class="video scale1-left ">
    <div class="front">
    <video autoplay loop muted>
        <source src="assets/video/huella gif.mp4" type="video/mp4">
    </video>
    <div class="info-proyect">
        <span class="title">Control de acceso para clubes</span>
        <div class="section">
            <div class="horizontal-line"></div><span>Lenguajes</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Csharp</span>
            </div>
            <div class="img">
                <img src="assets/img/net.png" height="100%" alt="" id="technologies_net">
            </div>
        </div>
 
        <div class="section">
            <div class="horizontal-line"></div><span>Frameworks</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>.Net</span>
            </div>
            <div class="img">
                <img src="assets/img/netcore.svg" height="100%" alt="" id="netcore">
            </div>
        </div>
        <div class="section">
            <div class="horizontal-line"></div><span>Base de datos</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>SqlServer</span>
            </div>
            <div class="img">
                <img src="assets/img/logo_sqlserver.png" height="100%" title="Sql Server Icon">
            </div>
        </div>
        <div class="section">
            <div class="horizontal-line"></div><span>Servicios</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Stripe</span>
            </div>
            <div class="img">
                <img src="assets/img/stripe.svg" height="100%" title="stripe" id="stripe">
            </div>
        </div>
        <div class="section">
            <div class="horizontal-line"></div><span>Otros</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Datos biométricos</span>
            </div>
            <div class="img">
                <img src="assets/img/finger_print.png" height="100%" title="stripe" >
            </div>
        </div>
       
        <button id="open_finger_print">Ver proyecto</button>
    </div>
</div>
<div class="back">
        
        <div class="info">
            <span class="title">Información</span>
            <span>Desarrollé una aplicación llamada ClubCheck la cual lleva un control sobre las sucripciones de los usuarios y permite el acceso al club.</span>
            <ul>
                <li>Maneja diferentes roles de administrador.</li>
                <li>Controla el acceso por medio de la huella dactilar.</li>
                <li>Envia mensajes del estado de su sucripción.</li>
                <li>Controla el acceso por medio de la huella dactilar.</li>
                <li>Está programada para conectarse a una cerradura magnética por medio de un controlador esp32.</li>
                <li>Se usan servicios de Azure para guardar los datos de una manera segura.</li>
            </ul>
            <span>Para poder usar la aplicacion necesita estar suscrito, esto se maneja consultando la api de Stripe.</span>
            <span>Esta aplicacion surgió por la nesecidad de un gimnasio para llevar el control de sus sucripciones. La aplicación fue instalada y funcionó perfectamente.</span>
          
        </div>
          <button class="watch-video" id="ClubCheck" >Ver video</button>
    </div>
</div>
<div class="video scale-top"  >
    <div class="front">
    <video autoplay loop muted id="video_luxometro">
        <source src="assets/video/luxometro_short.mp4" type="video/mp4">
    </video>
    <div class="info-proyect">
        <span class="title">Luxómetro</span>
        <div class="section">
            <div class="horizontal-line"></div><span>Lenguajes</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Java</span>
            </div>
            <div class="img">
                <img src="assets/img/java2.svg" height="100%" alt="" >
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Php</span>
            </div>
            <div class="img">
                <img src="assets/img/php.svg" height="100%" alt="" id="php">
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Python</span>
            </div>
            <div class="img">
                <img src="assets/img/python.png" height="100%" alt="" id="python">
            </div>
        </div>
 
       
        <div class="section">
            <div class="horizontal-line"></div><span>Base de datos</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>SqlServer</span>
            </div>
            <div class="img">
                <img src="assets/img/mysql.png" height="100%" >
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>SqlLite</span>
            </div>
            <div class="img">
                <img src="assets/img/sqlite.svg" height="100%"  id="sqlite">
            </div>
        </div>
        <div class="section">
            <div class="horizontal-line"></div><span>Otros</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Android Studio</span>
            </div>
            <div class="img">
                <img src="assets/img/android.png" height="100%" title="stripe" >
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Tensorflow</span>
            </div>
            <div class="img">
                <img src="assets/img/tensorflow.png" height="100%" title="stripe" id="" >
            </div>
        </div>
       
        <button id="open_finger_print">Ver proyecto</button>
    </div>
    </div>
    <div class="back">
        
        <div class="info">
            <span class="title">Información</span>
            <span>Esta app la desarrollé como proyecto de titulación donde resolví una problemática para el acceso de luxómetros.  </span>
            <span>Esta aplicación puede realizar mediciones sobre la iluminación de cualquier área de trabajo y comprobar si es una iluminación adecuado con respecto a la NOM-025STPS-2008</span>
            <span>Se calibraron difernetes modelos de dispositivos para que las mediciones fueran más precisas</span>
            <span>Puede llevar un bitácora sobre la ilumiación de cada areá de trabaja y generar un documento de hoha de cálculo</span>
          
        </div>
          <button class="watch-video" id="Luxómetro">Ver video</button>
    </div>
</div>

<div class="video scale1-rigth">
    <div class="front">
    <video autoplay loop muted>
        <source src="assets/video/Distrito066Gif.mp4" type="video/mp4">
    </video>
    <div class="info-proyect">
        <span class="title">Distrito066</span>
        <div class="section">
            <div class="horizontal-line"></div><span>Lenguajes</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Php</span>
            </div>
            <div class="img">
                <img src="assets/img/Php.svg" height="60%">
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Javascript</span>
            </div>
            <div class="img">
                <img src="assets/img/Javascript.svg" height="80%" alt="" >
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Sass</span>
            </div>
            <div class="img">
                <img src="assets/img/Sass.svg" height="100%" alt="" id="python">
            </div>
        </div>
        <div class="section">
            <div class="horizontal-line"></div><span>Base de datos</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>MySql</span>
            </div>
            <div class="img">
                <img src="assets/img/Mysql.png" height="100%" title="Sql Server Icon">
            </div>
        </div>
       
        <div class="section">
            <div class="horizontal-line"></div><span>Otros</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Html</span>
            </div>
            <div class="img">
                <img src="assets/img/Html.svg" height="100%" title="stripe" >
            </div>
        </div>
       
        <button id="open_finger_print">Ver proyecto</button>
    </div>
</div>
<div class="back">
        
    <div class="info">
        <span class="title">Información</span>
        <span> Desarrolle esta aplicacion web para un asociasion que lleva el control sobre los posos de agua el municipio de comondú, baja california sur</span>
        <span> La aplicacion recibe y exporta documentos de hoja de calculo, oragniza la información de una manera más efeciente y falicita el trabajo.</span>
        <ul>
            <li>Maneja diferentes roles de administrador.</li>
            <li>Recibe documentos de excel con un formato en especifico para la carga masiva de información.</li>
            <li>administra datos de usuarios, títulos, geolocalización de pozos, reubicaciones de cada pozo e inversiones.</li>
        </ul>
        
    </div>
      <button class="watch-video" id="Distrito066" >Ver video</button>
</div>
</div>
<div class="video scale2-rigth" >
    <div class="front">
    <video autoplay loop muted id="video_luxometro">
        <source src="assets/video/MobEmmanuelGif.mp4" type="video/mp4">
    </video>
    <div class="info-proyect">
        <span class="title">MobEmmanuel Web</span>
        <div class="section">
            <div class="horizontal-line"></div><span>Lenguajes</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Typescript</span>
            </div>
            <div class="img">
                <img src="assets/img/Typescript.svg" height="80%" alt="" >
                
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Javascript</span>
            </div>
            <div class="img">
                <img src="assets/img/Javascript.svg" height="80%" alt="" >
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Sass</span>
            </div>
            <div class="img">
                <img src="assets/img/Sass.svg" height="100%" alt="" id="python">
            </div>
        </div>
 
       
        <div class="section">
            <div class="horizontal-line"></div><span>Base de datos</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>MySql</span>
            </div>
            <div class="img">
                <img src="assets/img/mysql.png" height="100%">
            </div>
        </div>
        <div class="section">
            <div class="horizontal-line"></div><span>Otros</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Angular</span>
            </div>
            <div class="img">
                <img src="assets/img/Angular.png" height="90%" >
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>NodeJs</span>
            </div>
            <div class="img">
                <img src="assets/img/NodeJs.png" height="50px" title="stripe" id="" >
            </div>
        </div>
       
        <button id="open_finger_print">Ver proyecto</button>
    </div>
    
</div>
<div class="back">
        
    <div class="info">
        <span class="title">Información</span>
        <span>Esta aplicacion la desrrolle como un proyecto pensando en las personas que venden productos a credito.  </span>
        <span>Se encarga de registrar los pagos que realizan los clientes y genera gráficas e historiales de pago. Esto facilita y organiza el trabajo del usuario</span>
        <span>Esta conectada a una aplicación móvil la cual se refleja cada pago que registre desde esta aplicación</span>
      
    </div>
      <button class="watch-video" id="MobEmmanuel Web">Ver video</button>
</div>
</div>
<div class="video scale-bottom" >
    <div class="front">
    <video autoplay loop muted id="video_luxometro">
        <source src="assets/video/CustomerMobEmmanuelGif.mp4" type="video/mp4">
    </video>
    <div class="info-proyect">
        <span class="title">MobEmmanuel Móvil</span>
        <div class="section">
            <div class="horizontal-line"></div><span>Lenguajes</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Typescript</span>
            </div>
            <div class="img">
                <img src="assets/img/Typescript.svg" height="80%" alt="" >
                
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Javascript</span>
            </div>
            <div class="img">
                <img src="assets/img/Javascript.svg" height="80%" alt="" >
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Sass</span>
            </div>
            <div class="img">
                <img src="assets/img/Sass.svg" height="100%" alt="" id="python">
            </div>
        </div>
 
       
        <div class="section">
            <div class="horizontal-line"></div><span>Base de datos</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>MySql</span>
            </div>
            <div class="img">
                <img src="assets/img/mysql.png" height="100%">
            </div>
        </div>
        <div class="section">
            <div class="horizontal-line"></div><span>Otros</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Ionic Angular</span>
            </div>
            <div class="img">
                <img src="assets/img/Ionic.svg" height="100%" >
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>NodeJs</span>
            </div>
            <div class="img">
                <img src="assets/img/NodeJs.png" height="50px" title="stripe" id="" >
            </div>
        </div>
       
        <button id="open_finger_print">Ver proyecto</button>
    </div>
    
</div>
<div class="back">
        
    <div class="info">
        <span class="title">Información</span>
        <span>Esta aplicación es para los clientes de un usuario de MobEmmanuel Web que ofrece un producto a crédito a travez de la aplicación. </span>
        <span>En esta aplicación pueden ver el historial de pagos y el estado de la deuda del producto que adquirió</span>
      
    </div>
      <button class="watch-video" id="MobEmmanuel Móvil" >Ver video</button>
</div>
</div>
<div class="video scale2-left fall-down"  >
    <div class="front">
    <video autoplay loop muted id="video_luxometro">
        <source src="assets/video/SuscripcionesGif.mp4" type="video/mp4">
    </video>
    <div class="info-proyect">
        <span class="title">Suscripciones</span>
        <div class="section">
            <div class="horizontal-line"></div><span>Lenguajes</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Typescript</span>
            </div>
            <div class="img">
                <img src="assets/img/Typescript.svg" height="80%" alt="" >
                
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Javascript</span>
            </div>
            <div class="img">
                <img src="assets/img/Javascript.svg" height="80%" alt="" >
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Sass</span>
            </div>
            <div class="img">
                <img src="assets/img/Sass.svg" height="100%" alt="" id="python">
            </div>
        </div>
 
       
        <div class="section">
            <div class="horizontal-line"></div><span>Base de datos</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>MySql</span>
            </div>
            <div class="img">
                <img src="assets/img/mysql.png" height="100%">
            </div>
        </div>
        <div class="section">
            <div class="horizontal-line"></div><span>Otros</span>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>Angular</span>
            </div>
            <div class="img">
                <img src="assets/img/Angular.png" height="90%" >
            </div>
        </div>
        <div class="content-language-video">
            <div class="text">
                <span>NodeJs</span>
            </div>
            <div class="img">
                <img src="assets/img/NodeJs.png" height="50px" title="stripe" id="" >
            </div>
        </div>
       
        <button id="open_finger_print">Ver proyecto</button>
    </div>
</div>
<div class="back">
        
    <div class="info">
        <span class="title">Información</span>
        <span>Es una aplicación en proceso de desarrollo que maneja la información de las sucripciones y controla el acceso a la aplicación de cada usuario contralando sus inicios de sesión</span>
      
    </div>
      <button class="watch-video" id="Suscripciones">Ver video</button>
</div>
</div>
</div>
