* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

p {
  white-space: pre;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #091f31;
}

::-webkit-scrollbar-thumb {
  background-color: #061420;
}

.alert {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 28, 47, 0.8196078431);
  z-index: 5;
}

.alert .content-alert {
  width: 360px;
  padding: 15px;
  border: 2px solid #02bfe9;
  border-radius: 10px;
  background-color: #0a2540;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  animation: rotar 1.9s linear;
  animation-play-state: running;
}

.alert .content-alert .title {
  color: #dadada;
  font-family: Calibri;
  font-weight: bold;
  font-size: 40px;
}

.alert .content-alert .group {
  display: flex;
  flex-direction: column;
}

.alert .content-alert .group input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 0;
  height: 57px;
  padding: 0 28.5px;
  border-radius: 30px;
  color: #87dae1;
  border: 2px solid #02bfe9;
  outline: none;
  font-size: 22px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.alert .content-alert .group #saved_guest {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: #87dae1;
  border: 2px solid #02bfe9;
  border-radius: 30px;
  align-self: flex-end;
  cursor: pointer;
}

.alert .content-alert p {
  color: #e8ebef;
  font-family: "calibri";
}

.alert .content-alert p {
  color: #e8ebef;
  font-family: "calibri";
}

.alert-video {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 28, 47, 0.8196078431);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.alert-video #video-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.alert-video #video-container video {
  border-radius: 20px;
  height: calc(100% - 170px);
  max-width: 90%;
}

.alert-video .title {
  position: absolute;
  width: 100%;
  border-radius: 20px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: sohne-var, "Helvetica Neue", "Arial";
}

.alert-video .title span {
  padding: 20px 40px;
  font-size: 40px;
  color: #f1f1f1;
}

.alert-video .title button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #f1f1f1;
  padding: 20px 40px;
  font-size: 30px;
  cursor: pointer;
  align-self: flex-start;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(4, 17, 29, 0.8509803922);
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  z-index: 5;
}

.navbar .navbar-list {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-between;
  height: 70px;
}

.navbar .navbar-list .navbar-item {
  list-style-type: none;
  padding: none;
  height: 100%;
}

.navbar .navbar-list .navbar-item .main-options {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  text-align: center;
  padding: 25px 0;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.navbar .navbar-list .navbar-item .main-options a {
  text-decoration: none;
  color: rgba(213, 213, 213, 0.731);
  font-family: "Arial";
  text-transform: uppercase;
}

.navbar .navbar-list .navbar-item .main-options:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #02bfe9;
  left: 100%;
  top: calc(100% - 54px);
  transition: all 0.3s ease-out;
}

.navbar .navbar-list .navbar-item .active {
  transform: scale(1.1);
}

.navbar .navbar-list .navbar-item .active::before {
  left: 0;
}

.navbar .navbar-list .navbar-item .active a {
  color: #f1f1f1;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  .navbar {
    display: none;
  }
}
.content {
  height: 100%;
  width: 100%;
}

.content section {
  height: 100%;
  width: 100%;
}

.content #section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content #section1 header {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .content #section1 header {
    position: absolute;
    top: 0;
    height: 100px;
  }
}
@media screen and (max-height: 600px) {
  .content #section1 header {
    height: 100px;
  }
}
.content #section1 header .decore {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  top: 120px;
}

@media screen and (max-width: 800px) {
  .content #section1 header .decore {
    top: 50px;
  }
}
@media screen and (max-height: 600px) {
  .content #section1 header .decore {
    top: 50px;
  }
}
.content #section1 header .decore #decore1 {
  position: absolute;
  width: 70%;
  top: -40px;
  border: 40px solid rgba(0, 0, 0, 0);
  margin-left: -40px;
  border-top: 40px solid #02bfe9;
  transform: translateX(-70%);
  transition: transform 2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 800px) {
  .content #section1 header .decore #decore1 {
    border-top: 30px solid #02bfe9;
  }
}
@media screen and (max-width: 600px) {
  .content #section1 header .decore #decore1 {
    width: 55%;
    transform: translateX(-55%);
  }
}
.content #section1 header .decore #decore2 {
  top: -10px;
  position: absolute;
  width: 70%;
  border: 40px solid rgba(0, 0, 0, 0);
  margin-left: -70px;
  border-top: 40px solid rgba(2, 191, 233, 0.0862745098);
  transform: translateX(-70%);
  transition: transform 2s ease-in-out;
}

@media screen and (max-width: 800px) {
  .content #section1 header .decore #decore2 {
    border-top: 30px solid rgba(2, 191, 233, 0.0862745098);
  }
}
@media screen and (max-width: 600px) {
  .content #section1 header .decore #decore2 {
    width: 55%;
    transform: translateX(-55%);
  }
}
.content #section1 header .decore #theme {
  position: absolute;
  opacity: 0;
  right: 20px;
  top: -20px;
  height: 100px;
  width: 10%;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: opacity 2s ease-in-out;
}

@media screen and (max-width: 600px) {
  .content #section1 header .decore #theme {
    width: 20%;
  }
}
.content #section1 header .decore #theme #lottie {
  position: absolute;
  height: 200px;
  width: 200px;
}

.content #section1 .content-section {
  display: flex;
  justify-content: space-between;
  width: -moz-min-content;
  width: min-content;
}

@media screen and (max-width: 800px) {
  .content #section1 .content-section {
    flex-direction: column;
    margin-top: 0;
    justify-content: flex-start;
  }
}
.content #section1 .content-section .me {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 100%;
  align-items: flex-start;
}

@media screen and (max-width: 1050px) {
  .content #section1 .content-section .me {
    margin-right: 0;
  }
}
.content #section1 .content-section .me .title {
  font-family: sohne-var, "Helvetica Neue", "Arial";
  font-size: 43px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 2s ease-out;
}

.content #section1 .content-section .me .subtitle {
  margin-top: 20px;
  font-family: sohne-var, "Helvetica Neue", "Arial";
  font-size: 18px;
  letter-spacing: 0.2px;
  color-scheme: light only;
  opacity: 0;
  font-weight: 500;
  transition: opacity 2s ease-in-out;
}

.content #section1 .content-section .me .section-button {
  width: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .content #section1 .content-section .me .section-button {
    display: none;
  }
}
.content #section1 .content-section .me .section-button a {
  position: relative;
  opacity: 0;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  border: 3px solid #04a1c4;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 16px 20px;
  text-decoration: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 2s ease-in-out, background-color 0.15s ease-in-out;
}

.content #section1 .content-section .me .section-button a span {
  color: #04a1c4;
  transition: opacity 2s ease-in-out, background-color 0.15s ease-in-out;
}

.content #section1 .content-section .me .section-button a:active, .content #section1 .content-section .me .section-button a:hover {
  outline: 0;
  background-color: #04a1c4;
}

.content #section1 .content-section .me .section-button a:active span, .content #section1 .content-section .me .section-button a:hover span {
  color: #eeeded;
}

@media screen and (max-width: 1050px) {
  .content #section1 .content-section .me .title {
    font-size: 30px;
  }
  .content #section1 .content-section .me .subtitle {
    font-size: 17px;
  }
}
@media screen and (max-width: 800px) {
  .content #section1 .content-section .me {
    margin: 100px 10px;
  }
  .content #section1 .content-section .me .title {
    font-size: 30px;
  }
  .content #section1 .content-section .me .subtitle {
    font-size: 17px;
  }
  .content #section1 .content-section .me div {
    justify-content: center;
  }
  .content #section1 .content-section .me div a {
    margin: 40;
  }
}
.content #section1 .content-section .animation_code {
  justify-self: center;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 200px;
  background-color: #0c2e4e;
  border-radius: 10px;
  font-family: "consolas";
  font-size: 18px;
  overflow: hidden;
  transition: opacity 2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media screen and (max-width: 800px) {
  .content #section1 .content-section .animation_code {
    width: 400px;
    margin: 0;
    margin-top: -80px;
  }
}
@media screen and (max-width: 450px) {
  .content #section1 .content-section .animation_code {
    width: 350px;
    margin: 0;
    margin-top: -80px;
  }
}
.content #section1 .content-section .animation_code nav {
  width: 100%;
  background-color: #061c2f;
  padding: 10px 20px;
}

.content #section1 .content-section .animation_code nav ul {
  display: flex;
  flex-direction: row;
}

.content #section1 .content-section .animation_code nav ul li {
  padding: 0 10px;
  list-style-type: none;
}

.content #section1 .content-section .animation_code nav ul li .code-options {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  color: #c5c5c5;
  font-size: 15px;
  font-family: "Calibri", "Helvetica Neue";
}

.content #section1 .content-section .animation_code nav ul li .active {
  color: #00d4ff;
}

.content #section1 .content-section .animation_code .content-code {
  padding: 10px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media screen and (max-width: 400px) {
  .content #section1 .content-section .animation_code .content-code {
    font-size: 18px;
  }
}
.content #section1 .content-section .animation_code .content-code .line-code {
  color: #30587d;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  width: 40px;
}

.content #section1 .content-section .animation_code .content-code .line-code p {
  display: none;
  padding: 5px;
}

.content #section1 .content-section .animation_code .content-code .line-code #line-number-1 {
  display: block;
}

@media screen and (max-width: 450px) {
  .content #section1 .content-section .animation_code .content-code .line-code {
    font-size: 14px;
    padding-right: 0;
  }
}
.content #section1 .content-section .animation_code .content-code .code {
  width: 50ch;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 15px;
}

.content #section1 .content-section .animation_code .content-code .code .line {
  width: 0;
  overflow: hidden;
  padding: 5px 0;
}

.content #section1 .content-section .animation_code .content-code .code .line .color1 {
  color: #7f95fe;
}

.content #section1 .content-section .animation_code .content-code .code .line .color2 {
  color: #e8ebef;
}

.content #section1 .content-section .animation_code .content-code .code .line .color3 {
  color: #87dae1;
}

.content #section1 .content-section .animation_code .content-code .code .line .color4 {
  color: #02bfe9;
}

.content #section1 .content-section .animation_code .content-code .code .line .color5 {
  color: #ffa956;
}

.content #section1 .content-section .animation_code .content-code .code .line .color5 #message {
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .content #section1 .content-section .animation_code .content-code .code {
    font-family: "Cailbri", monospace;
    font-size: 14px;
  }
}
.content #section1 .section-button {
  width: 100%;
  display: none;
}

@media (max-width: 800px) {
  .content #section1 .section-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.content #section1 .section-button a {
  position: relative;
  opacity: 0;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  border: 3px solid #04a1c4;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 16px 20px;
  text-decoration: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 2s ease-in-out, background-color 0.15s ease-in-out;
}

.content #section1 .section-button a span {
  color: #04a1c4;
  transition: opacity 2s ease-in-out, background-color 0.15s ease-in-out;
}

.content #section1 .section-button a:active, .content #section1 .section-button a:hover {
  outline: 0;
  background-color: #04a1c4;
}

.content #section1 .section-button a:active span, .content #section1 .section-button a:hover span {
  color: #eeeded;
}

.content #section2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1150px) {
  .content #section2 {
    flex-direction: column;
    height: 900px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 800px) {
  .content #section2 {
    overflow: visible;
    height: 900px;
    padding-bottom: 100px;
  }
}
.content #section2 .line-decorate {
  width: 100%;
  position: absolute;
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

@media screen and (max-width: 800px) {
  .content #section2 .line-decorate {
    display: none;
  }
}
.content #section2 .line-decorate .line1 {
  width: 100%;
  height: 50px;
  background-color: #02bfe9;
}

.content #section2 .line-decorate .line2 {
  width: 100%;
  height: 50px;
  background-color: rgba(2, 191, 233, 0.0862745098);
}

.content #section2 .content-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: width 1.5s ease-in-out;
}

@media screen and (max-width: 1150px) {
  .content #section2 .content-section {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .content #section2 .content-section {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
.content #section2 .content-section .info-me {
  transform: translateY(0) translateX(-100px);
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 350px;
  font-family: "calibri";
  font-size: 16px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #0c2e4e;
  margin-right: 30px;
  transition: opacity 2s ease-in-out, transform 1.4s ease-in-out;
}

@media screen and (max-width: 800px) {
  .content #section2 .content-section .info-me {
    margin-right: 0;
  }
}
.content #section2 .content-section .info-me span {
  color: #fff;
  align-self: center;
}

.content #section2 .content-section .info-me .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.content #section2 .content-section .info-me .header .img {
  width: 100px;
  height: 100px;
  background-color: #00d4ff;
  overflow: hidden;
  border-radius: 50px;
}

.content #section2 .content-section .info-me .header .img img {
  width: 100%;
  height: 130px;
}

.content #section2 .content-section .info-me .header span {
  color: #02bfe9;
  font-size: 25px;
  margin-left: 20px;
}

.content #section2 .content-section .info-me div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
  align-items: center;
}

.content #section2 .content-section .info-me div span {
  margin: 2px;
  color: #fff;
}

.content #section2 .content-section .info-me .section {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.content #section2 .content-section .info-me .section span {
  font-size: 20px;
  font-weight: 100;
  background-color: #0c2e4e;
  z-index: 2;
  padding: 0 10px;
  color: #02bfe9;
}

.content #section2 .content-section .content-piano {
  opacity: 0;
  transform: translateY(0) translateX(100px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 2s ease-in-out, transform 1.4s ease-in-out;
}

@media screen and (max-width: 800px) {
  .content #section2 .content-section .content-piano {
    margin-top: 20px;
  }
}
.content #section2 .content-section .content-piano img {
  position: absolute;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

.content #section2 .content-section .content-piano .piano {
  width: 500px;
  height: 200px;
  border-radius: 13px;
  background-color: #121416;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .content #section2 .content-section .content-piano .piano {
    width: 340px;
    height: 150px;
  }
}
.content #section2 .content-section .content-piano .piano .settings {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .content #section2 .content-section .content-piano .piano .settings {
    height: 70px;
  }
}
.content #section2 .content-section .content-piano .piano .settings #model {
  color: #dcdcdc;
  font-family: "Calibri";
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 800px) {
  .content #section2 .content-section .content-piano .piano .settings #model {
    font-size: 20px;
  }
}
.content #section2 .content-section .content-piano .piano .settings .group {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content #section2 .content-section .content-piano .piano .settings .group span {
  font-family: "Calibri";
  font-size: 18px;
  color: #dcdcdc;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .content #section2 .content-section .content-piano .piano .settings .group span {
    font-size: 20px;
  }
}
.content #section2 .content-section .content-piano .piano .settings .group input[type=range] {
  -webkit-appearance: none;
  width: 100px;
  height: 5px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  margin: 5px 0;
}

.content #section2 .content-section .content-piano .piano .settings .group input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffa956;
  cursor: pointer;
}

.content #section2 .content-section .content-piano .piano .settings .group input[type=range]::-webkit-slider-thumb::after {
  content: attr(value);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  background: #ffa956;
  color: #fff;
  border-radius: 5px;
}

.content #section2 .content-section .content-piano .piano .settings .keyboard {
  width: 40px;
  height: 20px;
  border-radius: 30px;
  background-color: rgba(77, 76, 76, 0.6980392157);
  padding: 0 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.content #section2 .content-section .content-piano .piano .settings .keyboard #keys-status {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.content #section2 .content-section .content-piano .piano .settings .keyboard.active {
  background-color: #ffa956;
}

.content #section2 .content-section .content-piano .piano .settings .keyboard.active #keys-status {
  transform: translateX(24px);
}

@media screen and (max-width: 800px) {
  .content #section2 .content-section .content-piano .piano .settings .group-toogle {
    display: none;
  }
}
.content #section2 .content-section .content-piano .piano .keys {
  height: 180px;
  display: flex;
}

@media screen and (max-width: 800px) {
  .content #section2 .content-section .content-piano .piano .keys {
    height: 80px;
  }
}
.content #section2 .content-section .content-piano .piano .keys .group-keys {
  display: flex;
  flex-direction: column;
}

.content #section2 .content-section .content-piano .piano .keys .group-keys .key {
  width: 25px;
  height: 100%;
  border-radius: 5px;
  background-color: #e4e4e4;
  border: 1px solid #d7d7d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

@media screen and (max-width: 800px) {
  .content #section2 .content-section .content-piano .piano .keys .group-keys .key {
    width: 16px;
    height: 100%;
  }
}
.content #section2 .content-section .content-piano .piano .keys .group-keys .key div {
  width: 100%;
  height: 10px;
  background-color: rgba(187, 187, 187, 0.199);
}

.content #section2 .content-section .content-piano .piano .keys .group-keys .key span {
  color: rgba(36, 36, 36, 0.596);
  margin-bottom: 10px;
  font-family: "calibri";
}

.content #section2 .content-section .content-piano .piano .keys .group-keys .key:active {
  background-color: rgba(228, 228, 228, 0.726);
}

.content #section2 .content-section .content-piano .piano .keys .group-keys .key.active {
  background-color: rgba(228, 228, 228, 0.726);
}

.content #section2 .content-section .content-piano .piano .keys .group-keys .keySharp {
  height: 80px;
  width: 20px;
  background-color: #030e17;
  border-radius: 5px;
  position: absolute;
  align-self: flex-end;
  margin-right: -15px;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.content #section2 .content-section .content-piano .piano .keys .group-keys .keySharp:active {
  background-color: #26282a;
}

.content #section2 .content-section .content-piano .piano .keys .group-keys .keySharp.active {
  background-color: #26282a;
}

.content #section2 .content-section .content-piano .piano .keys .group-keys .keySharp span {
  color: rgba(235, 235, 235, 0.671);
  margin-bottom: 10px;
  font-family: "calibri";
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  .content #section2 .content-section .content-piano .piano .keys .group-keys .keySharp {
    height: 50px;
    width: 14px;
    margin-right: -7px;
  }
}
.content #section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.content #section3 header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.content #section3 header .content-section {
  display: flex;
  padding-left: 50px;
  flex-direction: column;
  align-items: center;
}

.content #section3 header .content-section #title-section3 {
  font-family: sohne-var, "Helvetica Neue", "Arial";
  font-size: 28px;
  grid-column: 1;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  text-align: center;
}

.content #section3 header .content-section .span-direction {
  font-size: 25px;
  padding: 20px;
}

.content #section3 header .content-section div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.content #section3 header #lottie {
  width: 700px;
  grid-column: 2;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.content #section3 header #title-section-3 {
  transform: scale(0);
  font-size: 30px;
  font-family: Phantomsans, sans-serif;
  color: #fff;
  background-color: #081a2c;
  padding: 15px 70px;
  border-radius: 10px 0 10px 0;
  transition: transform 1s ease-in-out;
}

@media screen and (max-width: 800px) {
  .content #section3 header #title-section-3 {
    padding: 15px 30px;
    font-size: 20px;
  }
}
.content #section3 .languages {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 500px;
}

.content #section3 .languages .content-technologies {
  width: 70%;
  transform: scale(0);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 1s ease-in-out;
  min-height: 100px;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .content #section3 .languages .content-technologies {
    width: 90%;
  }
}
.content #section3 .languages .content-technologies header {
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: #081a2c;
  color: #e7e7e7;
  font-family: "calibri";
}

.content #section3 .languages .content-technologies header p {
  padding: 5px 10px;
}

.content #section3 .languages .content-technologies #frontend .technologies div img {
  padding: 15px 25px;
}

.content #section3 .languages .content-technologies #database .technologies div img {
  padding: 15px 25px;
}

.content #section3 .languages .content-technologies .technologies {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .content #section3 .languages .content-technologies .technologies {
    flex-direction: column;
    align-items: center;
  }
}
.content #section3 .languages .content-technologies .technologies div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content #section3 .languages .content-technologies .technologies div img {
  padding: 0 15px;
  opacity: 0;
  transition: opacity 2s ease-in-out, transform 1.5s ease-in-out;
}

@media screen and (max-width: 800px) {
  .content #section3 .languages .content-technologies .technologies div img {
    margin: 20px 0;
  }
}
.content #section3 .languages .content-technologies .technologies div #technologies_php {
  height: 40px;
  padding-left: 0px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_nodejs {
  height: 80px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_java {
  height: 70px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_net {
  height: 60px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_jwt {
  height: 50px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_stripe {
  height: 40px;
  padding-right: 0px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_angular {
  height: 60px;
  padding-left: 0px;
  padding-right: 20px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_typescript {
  height: 50px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_javascript {
  height: 50px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_html {
  height: 55px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_sass {
  height: 50px;
  padding-right: 0px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_css {
  height: 55px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_mysql {
  height: 55px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_sqlserver {
  width: 90px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_postgresql {
  height: 55px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_sqlite {
  height: 40px;
  background-color: #e2e2e2;
  margin: 0 20px;
  border-radius: 30px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_ioinic {
  width: 90px;
  padding-left: 0;
  margin-left: 0;
}

.content #section3 .languages .content-technologies .technologies div #technologies_android {
  height: 55px;
}

.content #section3 .languages .content-technologies .technologies div #technologies_netcore {
  height: 45px;
  padding-right: 0;
  margin-right: 0;
}

.content #section4 {
  height: 900px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .content #section4 {
    height: auto;
  }
}
.content #section4 header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
}

.content #section4 header #title-section-4 {
  transform: scale(0);
  font-size: 30px;
  font-family: Phantomsans, sans-serif;
  color: #fff;
  background-color: #081a2c;
  padding: 15px 100px;
  border-radius: 10px 0 10px 0;
  transition: transform 1s ease-in-out;
}

@media screen and (max-width: 800px) {
  .content #section4 header #title-section-4 {
    padding: 15px 70px;
    font-size: 20px;
  }
}
.content #section4 span {
  font-size: 17px;
  font-family: sohne-var, "Helvetica Neue", "Arial";
}

.content #section4 .content-proyects {
  opacity: 0;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: opacity 2s ease-in-out;
}

.content #section4 .content-proyects .content-videos {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .content #section4 .content-proyects .content-videos {
    flex-direction: column;
    height: auto;
  }
}
.content #section4 .content-proyects .content-videos .video {
  height: 600px;
  margin: 10px;
  position: relative;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  border-radius: 10px;
  overflow: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  image-rendering: auto;
  transform-origin: center;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.4s ease-in-out, margin 0.4s ease-in-out;
}

.content #section4 .content-proyects .content-videos .video .front {
  height: 100%;
  width: 340px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #04a1c4;
  padding: 10px 20px;
  border-radius: 10px;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform 0.7s ease-in-out, margin 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content #section4 .content-proyects .content-videos .video .front video {
  border-radius: 10px;
  height: 180px;
  image-rendering: auto;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sohne-var, "Helvetica Neue", "Arial";
  font-weight: bold;
  font-size: 17px;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .title {
  color: #04a1c4;
  margin: 10px 0;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .section {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .section span {
  font-size: 14px;
  font-weight: 100;
  z-index: 2;
  padding: 0 10px;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .section .horizontal-line {
  position: absolute;
  width: 100%;
  top: calc(50% - 0.5px);
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .content-language-video {
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .content-language-video .text {
  font-size: 17px;
  font-weight: 100;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .content-language-video .img {
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .content-language-video .img #stripe {
  height: 20px;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .content-language-video .img #netcore {
  height: 30px;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .content-language-video .img #php {
  height: 20px;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .content-language-video .img #sqlite {
  height: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #f3f3f3;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect .content-language-video .img #python {
  height: 30px;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect button {
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 10px;
  cursor: pointer;
  background-color: #683ab6;
  border: 2px solid #6437b3;
  color: #fff;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in;
}

.content #section4 .content-proyects .content-videos .video .front .info-proyect button:hover {
  background-color: #7346c0;
  border: 2px solid #7143c2;
}

.content #section4 .content-proyects .content-videos .video .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #04a1c4;
  height: 100%;
  width: 340px;
  padding: 10px 20px;
  border-radius: 10px;
  position: absolute;
  font-size: 15px;
  font-family: "Calibri";
  display: flex;
  flex-direction: column;
  transform: perspective(1000px) rotateY(180deg);
  transition: transform 0.7s ease-in-out, margin 0.4s ease-in-out;
}

.content #section4 .content-proyects .content-videos .video .back .info {
  display: flex;
  flex-direction: column;
}

.content #section4 .content-proyects .content-videos .video .back .info .title {
  font-size: 20px;
  margin: 20px 0;
}

.content #section4 .content-proyects .content-videos .video .back .info span {
  margin: 2px 0;
}

.content #section4 .content-proyects .content-videos .video .back .info ul {
  padding: 15px;
}

.content #section4 .content-proyects .content-videos .video .back button {
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  margin: 10px;
  cursor: pointer;
  background-color: #683ab6;
  border: 2px solid #6437b3;
  color: #fff;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in;
}

.content #section4 .content-proyects .content-videos .video .back button:hover {
  background-color: #7346c0;
  border: 2px solid #7143c2;
}

.content #section4 .content-proyects .content-videos .video .back-rotate {
  transform: perspective(1000px) rotateY(0deg);
}

.content #section4 .content-proyects .content-videos .video .front-rotate {
  transform: perspective(1000px) rotateY(-180deg);
}

.content #section4 .content-proyects .content-videos .scale1-left {
  margin: 0;
  z-index: 1;
  transform: translateX(-280px) scale(0.8) perspective(1000px) rotateY(-70deg);
}

@media screen and (max-width: 800px) {
  .content #section4 .content-proyects .content-videos .scale1-left {
    position: relative;
    transform: translateX(0);
  }
}
.content #section4 .content-proyects .content-videos .scale1-rigth {
  transform: translateX(280px) scale(0.8) perspective(1000px) rotateY(70deg);
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .content #section4 .content-proyects .content-videos .scale1-rigth {
    position: relative;
    transform: translateX(0);
  }
}
.content #section4 .content-proyects .content-videos .scale2-rigth {
  transform: translateX(180px) scale(0.6) perspective(1000px) rotateY(140deg);
  margin: 0;
  z-index: 0;
}

@media screen and (max-width: 800px) {
  .content #section4 .content-proyects .content-videos .scale2-rigth {
    position: relative;
    transform: translateX(0);
  }
}
.content #section4 .content-proyects .content-videos .scale2-left {
  transform: translateX(-180px) scale(0.6) perspective(1000px) rotateY(-140deg);
  margin: 0;
  z-index: 0;
}

@media screen and (max-width: 800px) {
  .content #section4 .content-proyects .content-videos .scale2-left {
    position: relative;
    transform: translateX(0);
  }
}
.content #section4 .content-proyects .content-videos .scale-top {
  z-index: 3;
}

@media screen and (max-width: 800px) {
  .content #section4 .content-proyects .content-videos .scale-top {
    position: relative;
    transform: translateX(0);
  }
}
.content #section4 .content-proyects .content-videos .scale-bottom {
  position: absolute;
  transform: scale(0.6) perspective(1000px) translateZ(-200px) rotateY(180deg);
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .content #section4 .content-proyects .content-videos .scale-bottom {
    position: relative;
    transform: translateX(0);
  }
}
@media screen and (max-width: 800px) {
  .content #section4 .content-proyects .content-videos .video {
    margin: 30px;
  }
}
.content #section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 100px 0;
  font-size: 20px;
  font-family: Phantomsans, sans-serif;
}

.content #section5 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content #section5 div a {
  margin: 10px;
}

.content #section5 div a .img-contact {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background-color: #0e75dd;
}

.light {
  background-color: #f0f0f0;
}

.content-dark {
  background-color: #0c2e4e;
}

.content-light {
  background-color: #d8d8d8;
}

.font-dark {
  color: #fff;
}

.font-light {
  color: #1b1b1b;
}

.line-dark {
  border-top: 1px solid rgba(223, 223, 223, 0.37);
}

.line-light {
  border-top: 1px solid rgba(32, 32, 32, 0.233);
}

.img-dark {
  background-color: rgba(9, 32, 54, 0.8156862745);
  border: 1px solid #f0f0f0;
  transition: background-color 0.2s ease-out;
}

.img-dark:hover {
  background-color: #f0f0f0;
}

.img-light {
  background-color: #f0f0f0;
  border: 1px solid rgba(9, 32, 54, 0.8156862745);
  transition: background-color 0.2s ease-out;
}

.img-light:hover {
  background-color: rgba(9, 32, 54, 0.8156862745);
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(12deg) scale(1.1);
  }
  25% {
    transform: rotate(-12deg);
  }
  35% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(-1deg);
  }
}

/*# sourceMappingURL=styles.css.map */
